<div style="padding: 0 20px;">
  <header>
    <h2>eTS Reporting</h2>
    <img class="logo-img" src="./assets/images/logos/zi_Logo komplett_RGB.png" alt="">
  </header>
  <div>
    <h3>Region</h3>
    <mat-chip-listbox>
      <mat-chip-option (click)="this.setLevelData('levelValues',item);" *ngFor="let item of this.levelValues"
        color="primary" [selected]="(this.levelSettings['levelValues']==item)">
        {{ item }}
      </mat-chip-option>
    </mat-chip-listbox>
    <h3>Thema</h3>
    <mat-chip-listbox>
      <mat-chip-option (click)="this.setLevelData('thema',item);" *ngFor="let item of this.themes" color="primary"
        [selected]="(this.levelSettings['thema']==item)">
        {{ item }}
      </mat-chip-option>
    </mat-chip-listbox>
    <h3>Fachgruppe</h3>
    <mat-chip-listbox>
      <mat-chip-option (click)="this.setLevelData('fg',item);" *ngFor="let item of this.professionGroups"
        color="primary" [selected]="(this.levelSettings['fg']==item)">
        {{ item }}
      </mat-chip-option>
    </mat-chip-listbox>
    <h3>Zeitraum</h3>
    <mat-chip-listbox>
      <mat-chip-option (click)="this.setLevelData('resolution',item.value);" *ngFor="let item of this.resolutionOptions"
        color="primary" [selected]="(this.levelSettings['resolution']==item.value)">
        {{ item.key }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div>Loading...</div>
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile><app-key-data-container [value]="this.summaryInfo['Anzahl Angebot']"
          title="Termine im Angebot"></app-key-data-container></mat-grid-tile>
      <mat-grid-tile><app-key-data-container [value]="this.summaryInfo['Anzahl Verteilt']" title="Termine vermittelt">
        </app-key-data-container></mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
    <app-plot-container title="Terminangebot Insgesamt" [data]="appointmentOffer" [xValue]="'date'"
      [outcomes]="['total']" [xSort]="true" [fontColor]="'white'" plotType="area">
    </app-plot-container>
  </div>
</div>