<div style="padding: 0 20px;">
  <app-page-header icon="home">
    <h2>Akut- und Notfälle bei der 116117</h2>
    <p>Dashboard des Zentralinstituts für die kassenärztliche Versorgung in Deutschland (Zi) mit aktuellen Ergebnissen
      aus der Strukturierten medizinischen Ersteinschätzung in Deutschland (SmED) im Rahmen von Anrufen bei der
      Rufnummer (116117). Bei jeder Ersteinschätzung werden die Inhalte und Empfehlungen strukturiert protokolliert
      (Assessments).
      Als registrierter Nutzer steht Ihnen unser interner Analysebereich zur Verfügung.</p>
  </app-page-header>

  <div>
    <h3>Bundesland</h3>
    <!-- <mat-chip-list></mat-chip-list> -->
    <h3>Analysezeitraum</h3>
    <!-- <mat-chip-list></mat-chip-list> -->
    <h3>zeitliche Auflösung</h3>
    <!-- <mat-chip-list></mat-chip-list> -->
  </div>
</div>
<div *ngIf="inProgress">Loading ...</div>
<div *ngIf="!inProgress" class="grid-container">
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <app-key-data-container [value]="this.summaryInfo['Assessments Gesamt']" [isTextBehind]="true" title=""
        [numberFormat]="'1.0-0'" [mainColor]="colorScheme[4].concat('80')"
        [description]="'Assessments'"></app-key-data-container>
      <app-key-data-container [value]="this.summaryInfo['Mittlere Dauer']" [isTextBehind]="true" title=""
        [numberFormat]="'1.1-1'" [mainColor]="colorScheme[3].concat('80')"
        [description]="'Dauer in Sekunden'"></app-key-data-container>
      <app-key-data-container [value]="this.summaryInfo['Anzahl Beschwerden']" [isTextBehind]="true" title=""
        [numberFormat]="'1.1-1'" [mainColor]="colorScheme[2].concat('80')"
        [description]="'Anzahl Beschwerden'"></app-key-data-container>
      <app-key-data-container [value]="this.summaryInfo['Anzahl Fragen']" [isTextBehind]="true" title=""
        [numberFormat]="'1.1-1'" [mainColor]="colorScheme[1].concat('80')"
        [description]="'Anzahl Fragen'"></app-key-data-container>
    </mat-grid-tile>
  </mat-grid-list>
  <div fxFlex=50 fxFlex.lt-md=100>
    <mat-card>
      <app-plot-container title="SmED Assessments" [data]="this.statsTs" xTickFormat="%d.%m.<br>%Y" [xValue]="'Datum'"
        [outcomes]="!isAbsoluteNumbers ? ['Assessments pro 100 Tsd. Einw.'] : ['totaleNumbers']"
        [isAbsoluteNumbers]="isAbsoluteNumbers" (emitAbsoluteNumber)="absolutNumberChange($event)" [xSort]="true"
        [fontColor]="'white'" plotType="area">
      </app-plot-container>
    </mat-card>
  </div>
</div>